extends master

block content  
	h1= title
		p Click on generate link to to different jade template.
		ul
			<li><a href="/">Home</a></li>
			<li><a href="api">JSON Result From API </a></li>
			<li><a href="employees">Employees</a></li>